// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";


.plugin-app {

  @import "bootstrap/scss/reboot";
  @import "bootstrap/scss/type";
  @import "bootstrap/scss/images";
  @import "bootstrap/scss/containers";
  @import "bootstrap/scss/grid";
  @import "bootstrap/scss/tables";
  @import "bootstrap/scss/forms";
  @import "bootstrap/scss/buttons";
  @import "bootstrap/scss/transitions";
  @import "bootstrap/scss/dropdown";
  @import "bootstrap/scss/button-group";
  @import "bootstrap/scss/nav";
  @import "bootstrap/scss/navbar";
  @import "bootstrap/scss/card";
  @import "bootstrap/scss/accordion";
  @import "bootstrap/scss/breadcrumb";
  @import "bootstrap/scss/pagination";
  @import "bootstrap/scss/badge";
  @import "bootstrap/scss/alert";
  @import "bootstrap/scss/progress";
  @import "bootstrap/scss/list-group";
  @import "bootstrap/scss/close";
  @import "bootstrap/scss/toasts";
  @import "bootstrap/scss/modal";
  @import "bootstrap/scss/tooltip";
  @import "bootstrap/scss/popover";
  @import "bootstrap/scss/carousel";
  @import "bootstrap/scss/spinners";
  @import "bootstrap/scss/offcanvas";
  @import "bootstrap/scss/placeholders";

  // Helpers
  @import "bootstrap/scss/helpers";

  // Utilities
  @import "bootstrap/scss/utilities/api";
}
// scss-docs-end import-stack

.plugin-app .btn-group>.btn-check:checked+.btn, .plugin-app .btn-group>.btn-check:focus+.btn, .plugin-app .btn-group>.btn:hover, .plugin-app .btn-group>.btn:focus, .plugin-app .btn-group>.btn:active, .plugin-app .btn-group>.btn.active, .plugin-app .btn-group-vertical>.btn-check:checked+.btn, .plugin-app .btn-group-vertical>.btn-check:focus+.btn, .plugin-app .btn-group-vertical>.btn:hover, .plugin-app .btn-group-vertical>.btn:focus, .plugin-app .btn-group-vertical>.btn:active, .plugin-app .btn-group-vertical>.btn.active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.plugin-app .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .plugin-app .btn-group>.btn.dropdown-toggle-split:first-child, .plugin-app .btn-group>.btn-group:not(:last-child)>.btn {
  border-radius: var(--bs-btn-border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}




.k-product-row--disabled {
  background: #ececec;
}
.k-product-cell,
.k-product-info {
  width: 350px;
}
.k-product-info {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 350px;
}
.k-product-info__image {
  vertical-align: top;
  width: 120px;
  flex: 0 0 120px;
}

.k-product-info__body {
  flex: 1;
}

.k-product-info__name {
  font-size: 16px;
  margin-bottom: 5px;
}

.k-product-info__model {
  font-size: 12px;
}


/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}