<template>
  <div class="container-fluid">

    <h1 class="mb-5">Клоака - настройки</h1>


    <template v-if="isReady">
      <div class="alert alert-danger" v-if="!pluginGeo">Плагин в данный момент не работает, вам необходимо выбрать страну в формате ISO A2</div>

      <div class=" mb-3">
        <label for="kloaka_geo" class="form-label">Целевая страна</label>
        <select id="kloaka_geo" class="form-select form-select-lg" v-model="form.kloaka_geo" @change="saveForm" :disabled="isFormSave">
           <option :value="country.code" v-for="country in optionCountries">{{ country.name }}</option>
        </select>
      </div>


      <div class="form-group mb-3" >
        <label for="kloaka_utm" class="form-label">Utm метка</label><br>
        <input id="kloaka_utm" type="text" name="kloaka_utm" class="form-control" v-model="form.kloaka_utm" @change="saveForm" :disabled="isFormSave">
        <p class="note">Часть Utm метка</p>
      </div>


      <template v-if="pluginGeo">
        <div class="alert alert-success mb-4">
          <div>Текущее ваше гео <strong>{{ userCountry }}</strong></div>
          <div>Время определения <strong>{{findCountryTime}} сек</strong></div>
        </div>

        <div class="row  mb-5">
          <div class="col-12 col-lg-6">
            <div class="card rounded-3 shadow-sm  h-100">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Скачать настройки</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">kloaka-last<small class="text-body-secondary fw-light">.xlsx</small></h1>
                <div class="card-text  mt-3 mb-4">
                  Полученный файл можно изменить в excel и загрузить в модуль
                </div>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary" @click="exportDump" :disabled="isExportedDump">{{ isExportedDump ? 'Генерация файла' : 'Скачать'}}</button>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card rounded-3 shadow-sm h-100">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Загрузить настройки</h4>
              </div>
              <form @submit.prevent="importDump" class="card-body">
                <h1 class="card-title pricing-card-title">import <small class="text-body-secondary fw-light">kloaka-last.xlsx</small></h1>


                <div class="mb-3">
                  <label for="formFile" class="form-label">Обновить настройки плагина из файла</label>
                  <input class="form-control" name="file" type="file" id="formFile" required :disabled="isImportingDump">
                </div>


                <button type="submit" class="w-100 btn btn-lg btn-outline-primary" :disabled="isImportingDump">{{ isImportingDump ? 'Идет загрузка...' : 'Загрузить' }}</button>
              </form>
            </div>

          </div>
        </div>

        <div v-if="productsArr.length">
          <div class="mb-3">
            <input id="productSearch" type="text" class="form-control" placeholder="Поиск товара" v-model="productSearch">
          </div>

          <table class="table table-striped" >
            <thead>
            <tr>
              <td>Товар</td>
              <td>Перелинковка</td>
              <td>Перелинковка</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="product in productsFiltered" :class=" {'k-product-row--disabled': !product['status'] }" :data-id="product.product_id">
              <td class="k-product-cell">
                <div class="k-product-info">
                  <img v-if="product['image']" :src="product['image']" class="k-product-info__image">
                  <div class="k-product-info__body">
                    <div class="k-product-info__name">
                      <a :href="product['product_url']" target="_blank" >{{product['name']}}</a>
                    </div>
                    <div class="k-product-info__model"><code>{{product['model']}}</code></div>

                  </div>
                </div>
              </td>
              <td>
                <textarea :disabled="isLoading(product.product_id)" rows="2" type="text" placeholder="https://" :name="'kloaka_product_redirects'+ product['product_id'] " class="form-control" @change="saveProducts(product)" v-model="product['product_redirect']"></textarea>
              </td>
              <td>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                  <input type="radio" value="redirect"  class="btn-check" :name="'kloaka_product_redirect_type['+product['product_id']+']'" :id="'klkBtn'+product['product_id']+'redirect'" autocomplete="off" v-model="product['product_redirect_type']" :checked="product['product_redirect_type'] == 'redirect' " :disabled="isLoading(product.product_id)" @change="saveProducts(product)">
                  <label class="btn btn-outline-primary" :for="'klkBtn'+product['product_id']+'redirect'">Редирект</label>

                  <input type="radio" class="btn-check" value="curl"   :name="'kloaka_product_redirect_type['+product['product_id']+']'" :id="'klkBtn'+product['product_id']+'curl'" autocomplete="off" v-model="product['product_redirect_type']" :checked="product['product_redirect_type'] == 'curl' " :disabled="isLoading(product.product_id)" @change="saveProducts(product)">
                  <label class="btn btn-outline-primary" :for="'klkBtn'+product['product_id']+'curl'">iframe</label>

                </div>

            </tr>
            </tbody>
          </table>
        </div>
        <div class="alert alert-warning" v-else>
          Товары не найдены
        </div>
      </template>

    </template>

  </div>
</template>

<script>
import { Notifications } from '../plugins/notifications'
export default {
  data(){
    return {
      isReady: false,
      productSearch: '',
      form: {
        kloaka_geo: '',
        kloaka_utm: '',
      },

      ////
      products: [],
      optionCountries: [],
      pluginGeo: '',
      userCountry: '',
      findCountryTime: '',

      ///
      isExportedDump:false,
      isImportingDump: false,
      //
      loadingProducts: [],
      isProductLoading: null,
      //

      isFormSave: false,
    }
  },

  created() {
    let data = { route: getConfig('endpoint'), token: getConfig('token'), action: 'getData' };
    this.$ajax.get('/admin/index.php', data).then((r)=>{
      this.products = r.products;
      this.optionCountries = r.countries
      this.userCountry = r.current_country
      this.findCountryTime = r.time_country
      this.pluginGeo = r.pluginGeo


      Object.keys(r.form).map((key)=>{
        let val =  r.form[key];
        this.form[ key ] = val;
      });

      this.isReady = true

    })
  },

  computed: {
    productsArr(){
      return Object.values(this.products);
    },
    productsFiltered(){
      if(!this.productSearch) return this.productsArr;
      return this.productsArr.filter((item)=>{
        console.log(item.name, this.productSearch, this.findStr( item.name, this.productSearch ))
        if( this.findStr( item.name, this.productSearch ) ) {
          return true;
        }
        if( this.findStr( item.product_id, this.productSearch ) ) {
          return true;
        }
        if( this.findStr( item.model, this.productSearch ) ) {
          return true;
        }

        if( this.findStr( item.product_redirect, this.productSearch ) ) {
          return true;
        }

        return false;
      })

    }
  },
  methods: {
    findStr(str, search){
      search = search.toLowerCase();
      return str.toLowerCase().indexOf(search) !== -1;

    },
    // Function to download data to a file
    download(uri, filename) {
      let link = document.createElement("a");
      link.download = filename;
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
      link.remove()
    },

    exportDump(){
      if(this.isExportedDump) return false;
      this.isExportedDump = true;
      let data = { route: getConfig('endpoint'), token: getConfig('token'), action: 'exportDump' };
      this.$ajax.get('/admin/index.php', data).then((r)=>{
        Notifications.success('Загрузка файла сейчас начнется')
        this.isExportedDump = false;
        this.download(r.file, 'kloaka-last.xlsx')
      })
    },
    importDump(e){
      if(this.isImportingDump) return false;
      this.isImportingDump = true;

      let formData = new FormData(e.target);
      this.$ajax.post('/admin/index.php?route=module/kloaka/ajax&action=importDump&token='+getConfig('token'), formData).then((r)=>{
        this.isImportingDump = false;
      });
    },

    isLoading(product_id) {
      return this.loadingProducts.indexOf(product_id) !== -1;
    },
    saveForm(){
      if(this.isFormSave) return false;
      this.isFormSave = true;
      this.$ajax.post('/admin/index.php?route=module/kloaka/ajax&action=saveSettings&token='+getConfig('token'), { form: this.form }).then((r)=>{
        this.isFormSave = false;
      });
    },


    saveProducts(product){
      var id = product.product_id,
          link = product.product_redirect,
          linkType = product.product_redirect_type

      if(this.isLoading(id)) return false;
      this.loadingProducts.push(id)

      let data = {
        route: getConfig('endpoint'),
        token: getConfig('token'),
        action: 'saveProduct',
        product_id: id,
        link: link,
        linkType: linkType
      };
      this.$ajax.get('/admin/index.php', data).then((r)=>{
        this.loadingProducts.splice( this.loadingProducts.indexOf(id) )
      })
    }
  }

}
</script>